/* ================= GENERAL ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: #172033;
    background: #ffffff;
    line-height: 1.7;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: 90px 0;
}


/* ================= HEADER ================= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 22px 0;
    background-color:rgb(103, 221, 221);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.logo span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    background: #e9a227;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 28px;
}

nav a {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

nav a:hover {
    color: #e9a227;
}

.apply-btn {
    background: #e9a227;
    color: white;
    padding: 12px 22px;
    border-radius: 5px;
    font-weight: 600;
}

.container.about {
    margin: 200px;
    text-align: center;
    font-size: 20px;
    color: #391b8b;
}
.img-container img{
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-left: 50px;
   
}
.container-2{
    margin-top: 50px;
}
.col{
   background: white;
    padding:20px 50px;
    border-radius: 8px;
    transition: 0.3s;
    border: 3px solid #f9f9f9;
    border-top: 5px solid #4561ce;
    margin: 20px;
    box-shadow: 12px 13px 14px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 12px 13px 14px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 13px 14px 2px rgba(0,0,0,0.75);
}

.container-3{
    margin-top: 60px;
}

.text h2{
    margin-top: 50px;
    color: #0b0b0c;
}

.div001{
  background: white;
    padding:20px 50px;
    border-radius: 8px;
    transition: 0.3s;
    border: 3px solid #f9f9f9;
    border-left: 5px solid #4561ce;
    margin: 20px;
    box-shadow: 1px 6px 13px 8px rgba(0,0,0,0.77);
-webkit-box-shadow: 1px 6px 13px 8px rgba(0,0,0,0.77);
-moz-box-shadow: 1px 6px 13px 8px rgba(0,0,0,0.77);

}
.div01{
    margin-top: 60px;
    text-align: center;
}
.teacher-8{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.div02{
   
    padding:auto;
   border-radius: 8px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.container-3{
    margin-bottom: 60px;

    
}