/* ================= GENERAL ================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: #172033;
    background: #ffffff;
    line-height: 1.7;   
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    padding: 90px 0;
}


/* ================= HEADER ================= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 22px 0;
    background-color:rgb(103, 221, 221);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 800;
     text-decoration: none;
}

.logo span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 7px;
    background: #e9a227;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 28px;
}

nav a {
    color: white;
    font-size: 14px;
    font-weight: 500;
     text-decoration: none;
}

nav a:hover {
    color: #e9a227;
}

.apply-btn {
    background: #e9a227;
    color: white;
    padding: 12px 22px;
    border-radius: 5px;
    font-weight: 600;
     text-decoration: none;
}

.contact{
    margin: 150px;
    text-align: center;
    font-size: 20px;
    color: #391b8b;
}

.fa-beat{
    font-size: 40px;
    color: #06187f;


}

/* CONTACT FORM */

.contact-form {
padding: 55px 45px;
}

.contact-form h1 {
font-size: 32px;
color: #14213d;
margin-bottom: 20px;
}

.description {
color: #555;
font-size: 17px;
line-height: 1.7;
margin-bottom: 30px;
}

.contact-form hr {
border: none;
border-top: 1px solid #ddd;
margin-bottom: 35px;
}


/* FORM ROW */

.form-row {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;
}


/* FORM GROUP */

.form-group {
margin-bottom: 28px;
}

.form-group label {
display: block;

font-size: 16px;
font-weight: bold;

color: #18283b;

margin-bottom: 12px;
}

.form-group input,
.form-group textarea {
width: 100%;

border: 1px solid #ddd;
border-radius: 8px;

padding: 18px;

font-size: 16px;

outline: none;

background: #fff;
}

.form-group input {
height: 65px;
}

.form-group textarea {
height: 190px;
resize: vertical;
}


/* INPUT FOCUS */

.form-group input:focus,
.form-group textarea:focus {
border-color: #b32620;
}


/* PLACEHOLDER */

::placeholder {
color: #aaa;
}


/* SUBMIT BUTTON */

button {
background: #b32620;
color: white;

border: none;
border-radius: 8px;

padding: 18px 35px;

font-size: 17px;
font-weight: bold;

cursor: pointer;
}

button i {
margin-right: 10px;
}

button:hover {
background: #8f1e19;
}





















/* ================= FOOTER ================= */

footer {
    background: #101c2d;
    color: white;
    padding-top: 60px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;
    padding-bottom: 45px;
}

.footer-grid h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer-grid h4 {
    margin-bottom: 15px;
}

.footer-grid p {
    color: #aeb8c7;
    max-width: 400px;
}

.footer-grid a {
    display: block;
    color: #aeb8c7;
    margin-bottom: 8px;
     text-decoration: none;
}

.footer-grid a:hover {
    color: #e9a227;
}

.copyright {
    text-align: center;
    border-top: 1px solid #293548;
    padding: 20px;
    color: #9ba7b8;
}