.hover li:hover {
    background-color: #00b7eaa4;

}
.container-fluid  a{
    color: #f5f5f5;
}
.top{
    margin-top: 55px;
}

.profile {
    margin-top: 50px;
   
}

.Hourse p{
    text-align: justify;
     background-color: #e63f3f;
    
}
.eee p{
    text-align: justify;
    background-color: #cfed57;
    
}
.owl p{
    text-align: justify;
    background-color: #57edc9;
    
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}